<%- include("partials/header") -%> <%console.log(posts)%>
<%posts.forEach(function(post, index, arr){ %>
<h1><%=post.title %></h1>
<p>
  <% if(post.title === "Home"){ %> <%= post.content %> <% }else{ %> <%=
  post.content.substring(0, 100) + "..." %>
  <a href="/posts/<%=post.title%>">Read More</a>
</p>
<% } %> <% }) %> <%- include("partials/footer") -%>
